.idea/
*.iml
target/
/dependency-reduced-pom.xml
/javaserv.properties

# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
